* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 -15px;
  width: 80%;
  margin: 1em auto;
}

/* header */
.header-img-logo {
  height: 60px;
}

ul {
  padding: 25px 0;
}

ul li {
  display: inline;
  list-style: none;
}

ul li a {
  margin-right: 7px;
  font-size: 20px;
  color: #B1B1B1;
  text-decoration: none;
}

/* header */
/* main */
.jumbo {
  margin-bottom: 35px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  background-image: url('../img/banner.jpg');
  height: 500px;
}

.overlay {
  border-radius: 5px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.testo-over-jumbo {
  padding-top: 300px;
  padding-left: 65px;
  color: white;
  font-size: 20px;
}

.testo-over-jumbo>span {
  font-size: 35px;
}

.colon-100>h1 {
  font-size: 40px;
  color: black;
}

.under-leadership-text {
  color: #B1B1B1;
  font-size: 20px;
}

/* main */
[class^="colon-"] {
  float: left;
}

.row:after {
  content: "";
  clear: both;
  display: table;
}

.row {
  width: 100%;
}

.colon-100 {
  margin-bottom: 38px;
  width: 100%;
}

.colon-20 {
  width: 20%;
  height: 75%;
}

.images-in-row-left {
  height: 182px;
  border-radius: 5px;
  background-image: url('../img/img-1.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.images-in-row-center {
  height: 182px;
  background-image: url('../img/banner-2.jpg');
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.images-in-row-right {
  height: 182px;
  background-image: url('../img/img-3.jpg');
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.banner {
  width: 100%;
}

.colon-60 {
  width: 60%;
  height: 80%;
  padding: 0 18px;
}

.row strong {
  font-size: 20px;
}

.row p {
  font-size: 20px;
  color: #B1B1B1;
}

footer {
  margin:35px 0;
  text-align: center;
}
footer strong {
  text-align: center;
  font-size: 22px;
}

footer .heart {
  color: red;
  font-size: 33px;
}
